    <nav>
        <div class="Titulo-site">
        <a href="/"></a><h1>Blog</h1></a>
        <p>Site</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/criar">Novo Blog</a></li>
        </ul>

    </nav>